# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/
ENV/
env.bak/
venv.bak/

# Arquivos de log
*.log

# Configs do VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de dependência
*.egg-info/
.eggs/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Arquivos de cache do pip
pip-wheel-metadata/
*.egg
